body {
  max-width: 100%;
  height: 100%;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: 0;
}
/* PHONE VERSION < 505px */

@media (max-width: 505px) {
  /* --- HEADER --- */

  header {
    max-width: 100%;
    height: 8rem;
    border-bottom: 3px solid orange;
    margin: 10px 3rem 1.5rem;
  }

  header h1 {
    display: flex;
    justify-content: center;
    color: orange;
    font-size: 5rem;
    padding: 0;
    margin: 0;
  }

  header .btn-group {
    display: flex;
    justify-content: flex-end;
    height: 20%;
  }

  header div {
    display: flex;
    justify-content: space-between;
    justify-content: row;
    align-content: center;
  }

  #btn-group {
    width: 5rem;
    height: 5rem;
    margin-right: 5rem;
    margin-top: 4rem;
  }
  .btn {
    margin-top: 1.8rem;
  }
  header ul li a {
    max-width: 100%;
    margin-right: -7rem;
  }

  #subTitle {
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
  }
  .dropdown-menu.my-dropdown-menu {
    left: auto;
  }
  /* --- SECTION 1 - FRONTER AND BIG SKULL --- */

  #fronter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    max-width: 100%;
    height: 40rem;
    background: url("images/Gold_pirates_skull.png") no-repeat center;
    background-size: 80%;
  }

  h2 {
    text-align: center;
    size: 2rem;
  }

  /* --- SECTION OF THE DICE --- */
  #sectionDice {
    width: 100%;
    height: 10rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }

  .dice {
    transform: scale(4);
  }

  .dice:after {
    content: "1";
    position: relative;
    top: 10;
  }

  /* --- SECTION BUTTONS PLAY AND STOP --- */

  #sectionButtons {
    max-width: 100%;
    height: auto;
    background-color: orange;
    padding: 1rem 5rem;
    margin: 5% 12%;
    border-radius: 6px;
  }

  #sectionButtons button {
    padding: 1rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
  }

  /* --- SECTION TABLES SCORE AND RULES --- */

  #sectionTableScores {
    width: 100%;
    height: 40rem;
    margin: 1rem 0;
  }

  tr td, th {
    font-family: "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
    text-align: center;
  }

  #sectionTableScores h6{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
  /* --- SECTION RULES & HISTORY --- */
  #rulesHistory{
      max-width: 100%;
      min-height: 100;
      background-color: rgb(61, 71, 83);
      margin: 2rem;
      padding: 2rem;
      text-align: justify;
      color: white;
      border-radius: 6px;
  }
  #rulesHistory hr{
      margin: 1rem 4rem 2rem;

  }
 
  #quote {
    
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
      font-size: 2.5rem;
  }

  #blackBird {
    font-weight: bold;
    text-align: right;
    margin-right: 3rem;
    margin-top:1rem;
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    font-size: 2.2rem;
  }

  #tableOfRules {
      border: 2rem;
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
    text-align: center;
  }
  #tableOfRules h6{
      font-size: 1.8rem;
      font-weight: bold;
      text-align: center;
  }
  #rulesHistory h5 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;  
}
  /* --- SECTION FOOTER --- */
  footer {
    max-width: 100%;
    height: 5rem;
    border-top: 3px solid orange;
    margin: 10px 3rem 2rem;
  }
  footer h5 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(61, 71, 83);  
}
  footer ul {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  footer li {
    padding: 0.2rem 1rem;
  }
  footer p {
    padding: 0rem 1rem;
    text-align: center;
    font-weight:bold;
    color: rgb(61, 71, 83);
    font-family: "Franklin Gothic Medium", "Arial Narrow";
  }
}

/* TABLET VERSION < 505px */

@media (min-width: 505px) and (max-width: 1024) {
  /* --- HEADER --- */

  