body {
  max-width: 100%;
  height: 100%;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: 0;
}
/* PHONE VERSION < 505px */

@media (max-width: 505px) {
  /* --- HEADER --- */

  header {
    max-width: 100%;
    height: 8rem;
    border-bottom: 3px solid orange;
    margin: 10px 3rem 2rem;
  }

  header h1 {
    display: flex;
    justify-content: center;
    color: orange;
    font-size: 5rem;
    padding: 0;
    margin: 0;
  }

  header .btn-group {
    display: flex;
    justify-content: flex-end;
    height: 20%;
  }

  header div {
    display: flex;
    justify-content: space-between;
    justify-content: row;
    align-content: center;
  }

  #btn-group {
    width: 5rem;
    height: 5rem;
    margin-right: 5rem;
    margin-top: 4rem;
  }
  .btn {
    margin-top: 2rem;
  }
  header ul li {
    margin-right: -7rem;
  }

  #subTitle {
    font-family: "Supermercado One", cursive;
  }
  /* --- SECTION 1 - FRONTER AND BIG SKULL --- */

  #fronter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    max-width: 100%;
    height: 40rem;
    background: url("images/Gold_pirates_skull.png") no-repeat center;
    background-size: 80%;
  }

  h2 {
    text-align: center;
    size: 2rem;
  }

  /* --- SECTION OF THE DICE --- */
  #sectionDice {
    width: 100%;
    height: 10rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }

  .dice {
    transform: scale(4);
  }

  .dice:after {
    content: "1";
    position: relative;
    top: 10;
  }

  /* --- SECTION BUTTONS PLAY AND STOP --- */

  #sectionButtons {
    max-width: 100%;
    height: auto;
    background-color: orange;
    padding: 1rem 5rem;
    margin: 5% 12%;
    border-radius: 6px;
  }

  #sectionButtons button {
    padding: 1rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
  }

  /* --- SECTION TABLES SCORE AND RULES --- */

  #sectionTableScores {
    width: 100%;
    height: 10rem;
    background-color: rgb(20, 143, 47);
  }

  /* --- SECTION FOOTER --- */
  footer h5 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }
  footer ul {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  footer li {
    padding: 0.2rem 1rem;
  }
}
