body {
  max-width: 100%;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: 0;
}

.red {
  background-color: red;
  border-color: red;
}

.orange {
  background-color: orange;
  border-color: orange;
}
.green {
  background-color: green;
  border-color: green;
}

/* PHONE VERSION < 505px */

@media (max-width: 505px) {
  /* --- HEADER --- */
  #menuMobile {
    display: block;
    position: fixed;
    right: 3rem;
    top: 0;
  }
  #menuLaptop {
    display: none;
    position: fixed;
    top: 0;
  }

  header {
    max-width: 100%;
    height: 8rem;
    border-bottom: 3px solid orange;
    margin: 10px 3rem 1.5rem;
  }

  header h1 {
    display: flex;
    justify-content: center;
    color: orange;
    font-size: 5rem;
    padding: 0;
    margin: 0;
  }

  header .btn-group {
    display: flex;
    justify-content: flex-end;
    height: 20%;
  }

  header div {
    display: flex;
    justify-content: space-between;
    justify-content: row;
    align-content: center;
  }

  #btn-group {
    width: 5rem;
    height: 5rem;
    margin-right: 5rem;
    margin-top: 4rem;
  }
  .btn {
    margin-top: 1.8rem;
  }

  #subTitle {
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    min-height: 5rem;
    max-width: 100%;
    margin: 1rem;
  }
  .dropdown-menu.my-dropdown-menu {
    left: auto;
  }
  /* --- SECTION 1 - FRONTER AND BIG SKULL --- */

  #fronter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    max-width: 100%;
    min-height: 20rem;
    background: url("images/Gold_pirates_skull.png") no-repeat bottom;
    background-size: 60%;
  }

  #dialogBox {
    max-width: 100%;
    /* border: 2px solid orange; */
    border-radius: 14% 15px 30% 25px;
    margin: 60% 0 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(61, 71, 83);
    background-color: rgba(255, 165, 0, 0.8);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  h2 {
    text-align: center;
    size: 2rem;
  }

  /* --- SECTION SET UP PARAMETERS --- */

  #menuSetUp {
    margin: 2rem;
    padding: 1rem;
    margin-top: 0;
    padding-top: 0;
    border-radius: 6px;
    /* border: 2px solid orange; */
  }

  #menuSetUp h2 {
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    text-align: center;
    color: orange;
  }
  #saveSetUp.btn-sample {
    color: #ffffff;
  }

  /* --- SECTION OF THE DICE --- */
  #sectionDice {
    width: 100%;
    height: 10rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }

  .dice {
    transform: scale(1);
  }

  #sectionDice p {
    width: 4rem;
    height: 4rem;
    position: relative;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
  /* --- SECTION BUTTONS PLAY AND STOP --- */

  #sectionButtons {
    max-width: 100%;
    background-color: orange;
    padding: 0.2rem 2rem;
    margin: 1% 12%;
    border-radius: 6px;
  }

  #sectionButtons button {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    flex-grow: 1;
    margin: 0.5rem;
    width: 50%;
  }

  /* --- SECTION TABLES SCORE AND RULES --- */

  #sectionTableScores {
    max-width: 100%;
    margin: 1rem 0;
  }
  #sectionTableScores h2 {
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    text-align: center;
  }

  tr td,
  th {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
  }

  #sectionTableScores h6 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }

  /* --- SECTION RULES & HISTORY --- */
  #rulesHistory {
    max-width: 100%;
    min-height: 100;
    background-color: rgb(61, 71, 83);
    margin: 2rem;
    padding: 2rem;
    text-align: justify;
    color: white;
    border-radius: 6px;
  }
  #rulesHistory hr {
    margin: 1rem 4rem 2rem;
  }

  #quote {
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 2.5rem;
  }

  #blackBird {
    font-weight: bold;
    text-align: right;
    margin-right: 3rem;
    margin-top: 1rem;
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    font-size: 2.2rem;
  }

  #tableOfRules {
    border: 2rem;
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    text-align: center;
  }
  #tableOfRules h6 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }
  #rulesHistory h5 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
  }
  #wikiLink {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  /* --- SECTION FOOTER --- */
  footer {
    max-width: 100%;
    border-top: 3px solid orange;
    margin: 10px 3rem 0.5rem;
  }
  footer h5 {
    text-align: center;
    font-weight: bold;
    font-family: "Supermercado One", "Arial Narrow", Arial, sans-serif;
    color: rgb(61, 71, 83);
  }
  footer ul {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  footer li {
    padding: 0.2rem 1rem;
  }
  footer p {
    padding: 0rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    color: rgb(61, 71, 83);
    font-family: "Franklin Gothic Medium", "Arial Narrow";
  }
}

/* TABLET VERSION 506px < Screen < 1024px */

@media (min-width: 506px) and (max-width: 1025px) {
  /* --- HEADER --- */
  #menuMobile {
    display: block;
    position: fixed;
    right: 3rem;
    top: 0;
  }
  #menuLaptop {
    display: none;
    position: fixed;
    top: 0;
  }

  header {
    max-width: 100%;
    height: 8rem;
    border-bottom: 3px solid orange;
    margin: 10px 3rem 1.5rem;
  }

  header h1 {
    display: flex;
    justify-content: center;
    color: orange;
    font-size: 6.5rem;
    padding: 0;
    margin: 0;
  }

  header .btn-group {
    display: flex;
    justify-content: flex-end;
    height: 30%;
  }

  header div {
    display: flex;
    justify-content: space-between;
    justify-content: row;
    align-content: center;
  }

  #btn-group {
    width: 5rem;
    height: 7rem;
    margin-right: 5rem;
    margin-top: 4rem;
  }
  .btn {
    margin-top: 2.8rem;
    width: 7rem;
    height: 4rem;
  }

  .btn-group .btn-danger {
    font-size: 1.8rem;
  }

  #subTitle {
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    text-align: center;
    font-size: 5rem;
    min-height: 5rem;
    max-width: 100%;
    margin: 1rem;
  }
  .dropdown-menu.my-dropdown-menu {
    left: auto;
  }
  /* --- SECTION 1 - FRONTER AND BIG SKULL --- */

  #fronter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    padding: 1rem;
    max-width: 100%;
    min-height: 40rem;
    background: url("images/Gold_pirates_skull.png") no-repeat bottom;
    background-size: 50%;
  }

  #dialogBox {
    max-width: 100%;
    /* border: 2px solid orange; */
    border-radius: 14% 15px 30% 25px;
    margin: 60% 19% 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(61, 71, 83);
    background-color: rgba(255, 165, 0, 0.8);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  /* --- SECTION SET UP PARAMETERS --- */

  #menuSetUp {
    margin: 2rem;
    padding: 4rem 10rem;
    border-radius: 6px;
    /* border: 2px solid orange; */
  }

  #menuSetUp h2 {
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: orange;
  }

  #saveSetUp.btn-sample {
    color: #ffffff;
    padding: 1rem;
    width: 30%;
    height: 20%;
    font-size: 4rem;
  }

  /* --- SECTION OF THE DICE --- */
  #sectionDice {
    width: 100%;
    height: 10rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }

  .dice {
    transform: scale(1);
  }

  #sectionDice p {
    width: 5rem;
    height: 5rem;
    position: relative;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
  }
  /* --- SECTION BUTTONS PLAY AND STOP --- */

  #sectionButtons {
    max-width: 100%;
    background-color: orange;
    padding: 0.2rem 2rem;
    margin: 1% 12%;
    border-radius: 6px;
  }

  #sectionButtons button {
    padding: 1rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: bold;
    flex-grow: 1;
    margin: 2rem;
    height: 8rem;
  }

  #sectionButtons div {
    display: flex;
    padding: 1rem;
    flex-direction: row;
  }
  #sectionButtons div #btnPlay,
  #btnCashIn {
    padding: 1rem;
  }
  /* --- SECTION TABLES SCORE AND RULES --- */

  #sectionTableScores {
    width: 100%;
    margin: 2rem 0;
    text-align: center;
  }

  #sectionTableScores h2 {
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    text-align: center;
    font-size: 5rem;
  }

  tr td,
  th {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    font-size: 2.8rem;
  }

  #sectionTableScores h6 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  /* --- SECTION RULES & HISTORY --- */
  #rulesHistory {
    max-width: 100%;
    min-height: 100;
    background-color: rgb(61, 71, 83);
    margin: 2rem;
    padding: 2rem 4rem;
    text-align: justify;
    color: white;
    border-radius: 6px;
    text-align: center;
  }
  #rulesHistory hr {
    margin: 1rem 4rem 2rem;
  }
  #rulesHistory .text {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    padding: 1rem 4rem;
  }

  #rulesHistory h2 {
    font-size: 6rem;
    padding: 1rem 3rem 3rem;
  }

  #quote {
    font-style: italic;
    text-align: center;
    margin: 2rem 1rem 0;
    padding-top: 2rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 4.5rem;
  }

  #blackBird {
    font-weight: bold;
    text-align: right;
    margin-right: 15rem;
    margin-top: 1rem;
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    font-size: 3.6rem;
  }

  #tableOfRules {
    border: 2rem;
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    text-align: center;
  }

  #tableOfRules h6 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
  #rulesHistory h5 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
    font-size: 3rem;
  }
  #wikiLink {
    text-align: center;
    font-size: 3rem;
    display: flex;
    justify-content: center;
  }
  /* --- SECTION FOOTER --- */
  footer {
    max-width: 100%;
    border-top: 3px solid orange;
    margin: 10px 3rem 0.5rem;
  }
  footer h5 {
    text-align: center;
    font-weight: bold;
    font-family: "Supermercado One", "Arial Narrow", Arial, sans-serif;
    color: rgb(61, 71, 83);
    font-size: 2.5rem;
  }
  footer ul {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  footer li {
    padding: 0.2rem 1rem;
    font-size: 1.8rem;
  }
  footer p {
    padding: 0rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    color: rgb(61, 71, 83);
    font-family: "Franklin Gothic Medium", "Arial Narrow";
  }
}

/* LAPTOP VERSION 1024px < Screen  */

@media (min-width: 1025px) {
  /* --- HEADER --- */

  #menuMobile {
    display: block;
    position: fixed;
    right: 3rem;
    top: 0;
  }
  #menuLaptop {
    display: none;
    position: fixed;
    top: 0;
  }

  header {
    max-width: 100%;
    height: 8rem;
    border-bottom: 3px solid orange;
    margin: 10px 3rem 1.5rem;
  }

  header h1 {
    display: flex;
    justify-content: center;
    color: orange;
    font-size: 6.5rem;
    padding: 0;
    margin: 0;
  }

  header .btn-group {
    display: flex;
    justify-content: flex-end;
    height: 30%;
  }

  header div {
    display: flex;
    justify-content: space-between;
    justify-content: row;
    align-content: center;
  }

  #btn-group {
    width: 8rem;
    height: 7rem;
    margin-right: 5rem;
    margin-top: 4rem;
  }
  .btn {
    margin-top: 0.8rem;
    width: 8rem;
    height: 6rem;
  }

  .btn-group .btn-danger {
    font-size: 2rem;
  }

  #subTitle {
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    text-align: center;
    font-size: 8rem;
    height: 5rem;
    max-width: 100%;
    margin: 3rem 1rem;
  }

  .dropdown-menu.my-dropdown-menu {
    left: auto;
  }
  /* --- SECTION 1 - FRONTER AND BIG SKULL --- */

  #fronter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    max-width: 100%;
    min-height: 30rem;
    background: url("images/Gold_pirates_skull.png") no-repeat left;
    background-size: 40%;
    margin: 2rem 2rem 0;
  }

  #dialogBox {
    width: 70%;
    /* border: 2px solid orange; */
    border-radius: 14% 15px 30% 25px;
    margin: 30% 0 0% 0%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(61, 71, 83);
    background-color: rgba(255, 165, 0, 0.8);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  h2 {
    text-align: center;
    size: 2rem;
  }
  /* --- SECTION SET UP PARAMETERS --- */

  #menuSetUp {
    margin: 7% 3rem 6% 46%;
    padding: 4rem 10rem;
    border-right: 6px solid orange;
    background-color: white;
    border-radius: 6px;
    text-align: center;
  }

  #menuSetUp h2 {
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2rem;
    margin-top: 0;
    color: orange;
    padding: 0 0 3rem;
  }

  #saveSetUp.btn-sample {
    color: #ffffff;
    padding: 1rem;
    width: 30%;
    height: 20%;
    font-size: 4rem;
  }

  /* --- SECTION OF THE DICE --- */
  #sectionDice {
    width: 100%;
    height: 10rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }

  .dice {
    transform: scale(1);
  }

  #sectionDice p {
    width: 4rem;
    height: 4rem;
    position: relative;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  /* --- SECTION BUTTONS PLAY AND STOP --- */

  #sectionButtons {
    max-width: 100%;
    background-color: orange;
    padding: 0.2rem 2rem;
    margin: 1% 12%;
    border-radius: 6px;
  }

  #sectionButtons button {
    padding: 1rem;
    margin: 3rem 2rem;
    font-size: 3.5rem;
    font-weight: bold;
    flex-grow: 1;
    height: 6rem;
  }

  #sectionButtons div {
    display: flex;
    padding: 1rem;
    flex-direction: row;
  }
  #sectionButtons div #btnPlay,
  #btnCashIn {
    padding: 1rem;
  }
  /* --- SECTION TABLES SCORE AND RULES --- */

  #sectionTableScores {
    width: 100%;
    margin: 1rem 0;
  }
  #sectionTableScores h2 {
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  tr td,
  th {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    font-size: 3rem;
  }

  #sectionTableScores h6 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  /* --- SECTION RULES & HISTORY --- */
  #rulesHistory {
    max-width: 100%;
    min-height: 100;
    background-color: rgb(61, 71, 83);
    margin: 3rem;
    padding: 4rem;
    text-align: justify;
    color: white;
    border-radius: 6px;
    font-size: 3rem;
    text-align: center;
  }
  #rulesHistory p {
    margin-bottom: 5rem;
  }
  #rulesHistory h2 {
    font-size: 6rem;
    padding: 3rem;
  }
  #rulesHistory hr {
    margin: 1rem 4rem 2rem;
  }

  #quote {
    font-style: italic;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 4rem;
    padding-top: 2rem;
  }

  #blackBird {
    font-weight: bold;
    text-align: right;
    margin-right: 35rem;
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    font-size: 4rem;
  }

  #tableOfRules {
    border: 2rem;
    font-family: "Supermercado One", "Franklin Gothic Medium", "Arial Narrow",
      Arial, sans-serif;
    text-align: center;
    font-size: 3rem;
  }
  #tableOfRules h6 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
  #rulesHistory h5 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
    font-size: 4rem;
  }

  #wikiLink {
    text-align: center;
    font-size: 3rem;
    display: flex;
    justify-content: center;
  }
  /* --- SECTION FOOTER --- */
  footer {
    max-width: 100%;
    height: 5rem;
    border-top: 3px solid orange;
    margin: 10px 3rem 2rem;
  }
  footer h5 {
    text-align: center;
    font-weight: bold;
    font-family: "Supermercado One", "Arial Narrow", Arial, sans-serif;
    color: rgb(61, 71, 83);
    font-size: 2.5rem;
  }
  footer ul {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  footer li {
    padding: 0.2rem 1rem;
    font-size: 1.8rem;
  }
  footer p {
    padding: 0rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    color: rgb(61, 71, 83);
    font-family: "Franklin Gothic Medium", "Arial Narrow";
  }
}
